<!doctype html>
<html>
	<head>
        <link rel="stylesheet" href="/media/styles/style.css" />
	</head>
	<body>
        <a style="position: absolute; top: 0; right: 0; border: 0; background: none;" href="https://github.com/joshontheweb/synth"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <div class="main"></div>
		
		<script>
          // var context = new webkitAudioContext();
          // var oscillator = context.createOscillator();
          // var gainNode = context.createGainNode();
          // var lowPass = context.createBiquadFilter();
          // var oscilloscope = new WavyJones(context, 'oscilloscope');
          // gainNode.gain.value = 0;
          // 
          // var pentatonicMap = [
          //   0,19,22,26,29,32,38,43,51,58,65,77,86,
          //   103,115,129,154,173,206,231,259,308,
          //   346,4461,518,616,691,822,923,1036,1232,
          //   1383,1644,1845,2071,2463,2765,3288,3691,
          //   4143,4927,5530,6577,7382,8286,9854,11060,
          //   13153,14764,16572,19708,22121,26306
          // ];
          // 
          // oscillator.connect(gainNode); // Connect to speakers
          // gainNode.connect(lowPass);
          // lowPass.connect(oscilloscope);
          // oscilloscope.connect(context.destination);
          // oscillator.start(0); // Start generating sound immediately
          // 
          // oscilloscope.lineThickness = 2;
          // 
          // var $gain = $('.gain');
          // var $frequency = $('.frequency');
          // var $lowPass = $('.low-pass');
          // var $lowPassReading = $('.low-pass-reading');
          // var $frequencyReading = $('.frequency-reading');
          // var $gainReading = $('.gain-reading');
          // var $waveform = $('.waveform');
          // 
          // 
          // var keyboard = qwertyHancock({
          //    id: 'keyboard',
          //    width: 600,
          //    height: 150,
          //    octaves: 3,
          //    startNote: 'A3',
          //    whiteNotesColour: 'white',
          //    blackNotesColour: 'black',
          //    hoverColour: '#f3e939',
          //    keyboardLayout: 'en'
          // });
          // 
          // keyboard.keyDown(function (note, frequency) {
          //     oscillator.frequency.value = frequency;
          //     gainNode.gain.value = 1;
          // });
          // 
          // keyboard.keyUp(function (note, frequency) {
          //     gainNode.gain.value = 0;
          // });
          // 
          // $frequency.on('change', function(e) {
          //   var closest;
          //   var goal = e.target.value;
          // 
          //   pentatonicMap.map(function(freq) {
          //     if (closest == null || Math.abs(freq - goal) < Math.abs(closest - goal)) {
          //       closest = freq;
          //     }
          //   });
          //   
          //   oscillator.frequency.value = closest;
          //   
          //   $frequencyReading.text(closest);
          // });
          // 
          // $gain.on('change', function(e) {
          //   gainNode.gain.value = e.target.value;
          //   $gainReading.text(e.target.value);
          // });
          // 
          // $lowPass.on('change', function(e) {
          //   lowPass.frequency.value = e.target.value;
          //   $lowPassReading.text(e.target.value);
          // });
          // 
          // $waveform.on('change', function(e) {
          //   oscillator.type = e.target.value;
          // });

        

          
		</script>

        <!-- templates -->
		<script class="synth-template" type="text/html">
          <div class="dashboard-top">
            <div class="column">
              <div class="group patch-presets-group">
                <h3>Patch Presets</h3>
                <div class="patches"></div>
              </div>
            </div>
            
            <!--
            <div class="column">
              <div class="group cf">
                <h3>Metronome</h3>
                <div class="metronome"></div>
              </div>
            </div>
            -->
            
            <div class="column">
              <div class="group cf">
                <h3>Delay</h3>
                <div class="delay"></div>
              </div>
            </div>
            <div class="column">
              <div class="group cf">
                <h3>Filter</h3>
                <div class="filter"></div>
              </div>
            </div>

            <div class="column">
              <div class="group cf">
                <h3>LFO</h3>
                <div class="lfo"></div>
              </div>
            </div>

          </div>

          <div class="dashboard">
            <div class="column">
              <div class="group cf">
                <h3>Oscillators</h3>
                <div class="oscillator-module"></div>
              </div>
            </div>
            <div class="column">
              <div class="group">
                <h3>Mixer</h3>
                <div class="mixer"></div>
              </div>
            </div>
            <div class="column">
              <div class="group">
                <h3>Filter Envelope</h3>
                <div class="filter-envelope"></div>
              </div>
            </div>
            <div class="column">
              <div class="group">
                <h3>Volume Envelope</h3>
                <div class="volume-envelope"></div>
              </div>
            </div>

            <!--
            <div class="column">
              <div class="group loop-module-group">
                <h3>Loop Module</h3>
                <div class="loop-module"></div>
              </div>
            </div>
            -->
            
            <div class="column">
              <div class="group">
                <h3>CV Patches</h3>
                <div class="cv-patches">
                </div>
              </div>
            </div>
            
          </div>
          

          <div class="bottom cf">
            <div id="keyboard"></div>
            <div id="oscilloscope"></div>
          </div>
        </script>
        
        <script class="oscillator-module-template" type="text/html">
          <div class="block">
            <!--<h5>OSC1</h5>-->
            <div class="osc-1"></div>
          </div>
          <div class="block">
            <!--<h5>OSC2</h5>-->
            <div class="osc-2"></div>
          </div>
          <div class="block">
            <!--<h5>OSC3</h5>-->
            <div class="osc-3"></div>
          </div>
        </script>
        
        <script class="mixer-template" type="text/html">
          <div class="block">
            <h5>GAIN</h5>
            <div class="gain-1"></div>
          </div>
          <div class="block">
            <h5>GAIN</h5>
            <div class="gain-2"></div>
          </div>
          <div class="block">
            <h5>GAIN</h5>
            <div class="gain-3"></div>
          </div>
        </script>
        
        
        <script class="oscillator-template" type="text/html">
          <div class="row">
            <div class="block">
              <h5>Waveform</h5>
              <div class="waveform"></div>
            </div>
            <div class="block">
              <h5>Detune</h5>
              <div class='detune'></div>
              <!--<input class="detune" min="-1200" max="1200" step="1" value="<%= detune %>" type="range" />-->
              <span class="reading detune-reading"><%= detune %></span>
            </div>
          </div>
        </script>
        
        <script class="lfo-template" type="text/html">
          <div class="block">
            <h5>Waveform</h5>
            <div class="waveform"></div>
          </div>
          <div class="block frequency-block">
            <h5>Freq</h5>
            <div class="frequency"></div>
            <div class="reading frequency-reading"><%= frequency %></div>
          </div>
          <div class="block">
            <h5>Gain</h5>
            <div class="gain"></div>
            <div class="reading gain-reading"><%= gain %></div>
          </div>
          <div class="block">
            <h5>Tempo Sync</h5>
            <input type="checkbox" class="tempo-sync" />
          </div>
        </script>
        
        <script class="gain-node-template" type="text/html">
          <div class="gain"></div>
          <span class="reading gain-reading"><%= gain %></span>
        </script>
        
        <script class="keyboard-template" type="text/html">
          <div id="keyboard"></div>
        </script>
        
        <script class="filter-template" type="text/html">
          <div class="block filter-frequency-block">
            <h5>Freq</h5>
            <div class="frequency"></div>
            <span class="reading frequency-reading"><%= frequency %></span>
          </div>
          <div class="block">
            <h5>Resonance</h5>
            <div class="resonance"></div>
            <span class="reading resonance-reading"><%= resonance %></span>
          </div>
        </script>
        
        <script class="envelope-template" type="text/html">
          <h5>Attack</h5>
          <input class="attack" min=".01" max="3" step="0.01" value="<%= attack %>" type="range" />
          <span class="reading attack-reading"><%= attack %></span>
          
          <h5>Decay</h5>
          <input class="decay" min=".01" max="3" step="0.01" value="<%= decay %>" type="range" />
          <span class="reading decay-reading"><%= decay %></span>
          
          <h5>Sustain</h5>
          <input class="sustain" min="0" max="<%= maxValue %>" step="0.01" value="<%= sustain %>" type="range" />
          <span class="reading sustain-reading"><%= sustain %></span>
          
          <h5>Release</h5>
          <input class="release" min=".01" max="3" step="0.01" value="<%= release %>" type="range" />
          <span class="reading release-reading"><%= release %></span>
        </script>

        <script class="delay-template" type="text/html">
          <div class="block">
            <h5>Time</h5>
            <div class="time"></div>
            <span class="reading time-reading"><%= time %></span>
          </div>
          <div class="block">
            <h5>Gain</h5>
            <div class="gain"></div>
            <span class="reading gain-reading"><%= gain %></span>
          </div>
        </script>
        
        <script class="metronome-template" type="text/html">
          <div class="block">
            <h5>Tempo</h5>
            <div class="tempo"></div>
          </div>
          <div class="block">
            <div class="beat-indicator"></div>
            <div class="reading tempo-reading"><%= tempo %></div>
            <div class="on-off">
              on: <input type="checkbox" class="state" value="1" <% if (state) { %>checked<% } %>/>
            </div>
          </div>
        </script>
        
        <script class="loop-module-template" type="text/html">
          <a href="#" class="microphone" title="toggle microphone on/off"></a>
          <div class="info">
            Press ~ to start recording a loop<br/>
            on the downbeat. <br/><br/>
            Then again to stop.
          </div>
          <a href="#" class="record" title="hotkey: ~">Record Loop</a>
        </script>
        
        <script class="buffer-template" type="text/html">
          <a href="#" class="delete">x</a>
          <a href="#" class="upload" title="Open Source This Loop"></a>
          <div class="waveform"></div>
        </script>

        <script class="patches-template" type="text/html">
          <h5>Patches</h5>
          <select class="patches" type="select">
          </select>
          <a href="#" class="save-patch">Save Patch as Preset</a>
        </script>

        <script class="patch-template" type="text/html">
          <option value="<%= _id %>"><%= name %></option>
        </script>

        <script class="cv-patch-template" type="text/html">
          <h5>CV Patch</h5>
          <select class="sources" type="select">
          </select>
          >
          <select class="destinations" type="select">
          </select>
        </script>

        <script class="cv-patches-template" type="text/html">
          <ul class="cv-patches-list"></ul>
          <a class="add-cv-patch" href="#">+ Add Patch</a>
        </script>

        <script class="knob-template" type="text/html">
          <div class="knob">
            <div class="indicator"></div>
          </div>
        </script>

        <script class="save-patch-popup-template" type="text/html">
          <input type="text" class="patch-name" placeholder="name your patch" />
          <a href="#" class="save">Save</a>
        </script>
        
        <script class="save-loop-popup-template" type="text/html">
          <h5>Name your loop to open source it</h5>
          <input type="text" class="loop-name" placeholder="name your loop" />
          <a href="#" class="save">Save</a>
        </script>
        
        <!-- libs -->
		<script src="/media/scripts/libs/audiolib.js"></script>
		<script src="/media/scripts/libs/jquery.js"></script>
		<script src="/media/scripts/libs/raphael.js"></script>
		<script src="/media/scripts/libs/qwertyhancock.js"></script>
		<script src="/media/scripts/libs/wavyjones.js"></script>
		<script src="/media/scripts/libs/underscore.js"></script>
		<script src="/media/scripts/libs/backbone.js"></script>
		<script src="/media/scripts/libs/backbone.localstorage.js"></script>
		<script src="/media/scripts/libs/wavyjones.js"></script>
		<script src="/media/scripts/libs/recorder.js"></script>
		<script src="/media/scripts/libs/webmidiapishim.js"></script>

        <!-- config -->
		<script src="/media/scripts/config.js"></script>

        <!-- routers -->
		<script src="/media/scripts/mvc/routers/main.js"></script>
        
        <!-- models -->
		<script src="/media/scripts/mvc/models/synth.js"></script>
		<script src="/media/scripts/mvc/models/oscillator.js"></script>
		<script src="/media/scripts/mvc/models/oscillator_module.js"></script>
		<script src="/media/scripts/mvc/models/mixer.js"></script>
		<script src="/media/scripts/mvc/models/gain.js"></script>
		<script src="/media/scripts/mvc/models/keyboard.js"></script>
		<script src="/media/scripts/mvc/models/filter.js"></script>
		<script src="/media/scripts/mvc/models/envelope.js"></script>
		<script src="/media/scripts/mvc/models/delay.js"></script>
		<script src="/media/scripts/mvc/models/lfo.js"></script>
		<script src="/media/scripts/mvc/models/compressor.js"></script>
		<script src="/media/scripts/mvc/models/loop_module.js"></script>
		<script src="/media/scripts/mvc/models/buffer.js"></script>
		<script src="/media/scripts/mvc/models/metronome.js"></script>
		<script src="/media/scripts/mvc/models/cv_patch.js"></script>
		<script src="/media/scripts/mvc/models/patch.js"></script>
		<script src="/media/scripts/mvc/models/cv_patch_module.js"></script>
		<script src="/media/scripts/mvc/models/knob.js"></script>
		<script src="/media/scripts/mvc/models/type_knob.js"></script>
		<script src="/media/scripts/mvc/models/loop.js"></script>

        <!-- collections -->
		<script src="/media/scripts/mvc/collections/patches.js"></script>
		<script src="/media/scripts/mvc/collections/cv_patches.js"></script>
        
        <!-- views -->
		<script src="/media/scripts/mvc/views/popup_view.js"></script>
		<script src="/media/scripts/mvc/views/synth_view.js"></script>
		<script src="/media/scripts/mvc/views/oscillator_view.js"></script>
		<script src="/media/scripts/mvc/views/mixer_view.js"></script>
		<script src="/media/scripts/mvc/views/gain_view.js"></script>
		<script src="/media/scripts/mvc/views/keyboard_view.js"></script>
		<script src="/media/scripts/mvc/views/filter_view.js"></script>
		<script src="/media/scripts/mvc/views/oscillator_module_view.js"></script>
		<script src="/media/scripts/mvc/views/envelope_view.js"></script>
		<script src="/media/scripts/mvc/views/delay_view.js"></script>
		<script src="/media/scripts/mvc/views/lfo_view.js"></script>
		<script src="/media/scripts/mvc/views/loop_module_view.js"></script>
		<script src="/media/scripts/mvc/views/buffer_view.js"></script>
		<script src="/media/scripts/mvc/views/metronome_view.js"></script>
		<script src="/media/scripts/mvc/views/cv_patch_view.js"></script>
		<script src="/media/scripts/mvc/views/patch_view.js"></script>
		<script src="/media/scripts/mvc/views/patches_view.js"></script>
		<script src="/media/scripts/mvc/views/cv_patch_module_view.js"></script>
		<script src="/media/scripts/mvc/views/knob_view.js"></script>
		<script src="/media/scripts/mvc/views/type_knob_view.js"></script>
		<script src="/media/scripts/mvc/views/save_patch_popup_view.js"></script>
		<script src="/media/scripts/mvc/views/save_loop_popup_view.js"></script>
        


        <!-- init -->
		<script src="/media/scripts/init.js"></script>

        <!-- analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-32112791-3', 'soundkeep.com');
          ga('send', 'pageview');

        </script>
	</body>
</html>
