<!doctype html>
<html>
	<head>
        <link rel="stylesheet" href="/media/styles/style.css" />
	</head>
	<body>
        <div class="main"></div>
		
		<script>
          // var context = new webkitAudioContext();
          // var oscillator = context.createOscillator();
          // var gainNode = context.createGainNode();
          // var lowPass = context.createBiquadFilter();
          // var oscilloscope = new WavyJones(context, 'oscilloscope');
          // gainNode.gain.value = 0;
          // 
          // var pentatonicMap = [
          //   0,19,22,26,29,32,38,43,51,58,65,77,86,
          //   103,115,129,154,173,206,231,259,308,
          //   346,4461,518,616,691,822,923,1036,1232,
          //   1383,1644,1845,2071,2463,2765,3288,3691,
          //   4143,4927,5530,6577,7382,8286,9854,11060,
          //   13153,14764,16572,19708,22121,26306
          // ];
          // 
          // oscillator.connect(gainNode); // Connect to speakers
          // gainNode.connect(lowPass);
          // lowPass.connect(oscilloscope);
          // oscilloscope.connect(context.destination);
          // oscillator.start(0); // Start generating sound immediately
          // 
          // oscilloscope.lineThickness = 2;
          // 
          // var $gain = $('.gain');
          // var $frequency = $('.frequency');
          // var $lowPass = $('.low-pass');
          // var $lowPassReading = $('.low-pass-reading');
          // var $frequencyReading = $('.frequency-reading');
          // var $gainReading = $('.gain-reading');
          // var $waveform = $('.waveform');
          // 
          // 
          // var keyboard = qwertyHancock({
          //    id: 'keyboard',
          //    width: 600,
          //    height: 150,
          //    octaves: 3,
          //    startNote: 'A3',
          //    whiteNotesColour: 'white',
          //    blackNotesColour: 'black',
          //    hoverColour: '#f3e939',
          //    keyboardLayout: 'en'
          // });
          // 
          // keyboard.keyDown(function (note, frequency) {
          //     oscillator.frequency.value = frequency;
          //     gainNode.gain.value = 1;
          // });
          // 
          // keyboard.keyUp(function (note, frequency) {
          //     gainNode.gain.value = 0;
          // });
          // 
          // $frequency.on('change', function(e) {
          //   var closest;
          //   var goal = e.target.value;
          // 
          //   pentatonicMap.map(function(freq) {
          //     if (closest == null || Math.abs(freq - goal) < Math.abs(closest - goal)) {
          //       closest = freq;
          //     }
          //   });
          //   
          //   oscillator.frequency.value = closest;
          //   
          //   $frequencyReading.text(closest);
          // });
          // 
          // $gain.on('change', function(e) {
          //   gainNode.gain.value = e.target.value;
          //   $gainReading.text(e.target.value);
          // });
          // 
          // $lowPass.on('change', function(e) {
          //   lowPass.frequency.value = e.target.value;
          //   $lowPassReading.text(e.target.value);
          // });
          // 
          // $waveform.on('change', function(e) {
          //   oscillator.type = e.target.value;
          // });

        

          
		</script>

        <!-- templates -->
		<script class="synth-template" type="text/html">
          HELLO SYNTH

          <div class="dashboard">
            <div class="column">
              <h3>Oscillators</h3>
              <div class="oscillator-module"></div>
            </div>
            <div class="column">
              <h3>Volume Envelope</h3>
              <div class="volume-envelope"></div>
            </div>
            <div class="column">
              <h3>Filter Envelope</h3>
              <div class="filter-envelope"></div>
            </div>

            <div class="column">
              <h3>Filter</h3>
              <div class="low-pass"></div>

              <h5>Delay</h5>
              <div class="delay"></div>

              <h5>LFO</h5>
              <div class="lfo"></div>
            </div>
            <div class="column">
              <div id="oscilloscope"></div>
            </div>
          </div>
          

          <div id="keyboard"></div>
        </script>
        
        <script class="oscillator-module-template" type="text/html">
          <h5>OSC1</h5>
          <div class="osc-1"></div>
          <h5>GAIN</h5>
          <div class="gain-1"></div>
          <h5>OSC2</h5>
          <div class="osc-2"></div>
          <h5>GAIN</h5>
          <div class="gain-2"></div>
          <h5>OSC3</h5>
          <div class="osc-3"></div>
          <h5>GAIN</h5>
          <div class="gain-3"></div>
        </script>
        
        <script class="oscillator-template" type="text/html">
          <select class="type" type="select">
            <option value="sine">Sine</option>
            <option value="square">Square</option>
            <option value="sawtooth">Sawtooth</option>
            <option value="triangle">Triangle</option>
          </select>
          <input class="detune" min="-1200" max="1200" step="1" value="<%= detune %>" type="range" />
          <span class="detune-reading"><%= detune %></span>
        </script>
        
        <script class="lfo-template" type="text/html">
          <input class="frequency" min="0" max="40" step="1" value="<%= frequency %>" type="range" />
        </script>
        
        
        <script class="gain-node-template" type="text/html">
          <input class="gain" min="0.0" max="1.0" step=".01" value="<%= gain %>" type="range" />
          <span class="gain-reading"><%= gain %></span>
        </script>
        
        <script class="keyboard-template" type="text/html">
          <div id="keyboard"></div>
        </script>
        
        <script class="filter-template" type="text/html">
          <h5>Frequency</h5>
          <input class="frequency" min="0" max="20000" step="1" value="<%= frequency %>" type="range" />
          <span class="frequency-reading"><%= frequency %></span>
          <h5>Resonance</h5>
          <input class="resonance" min="0" max="40" step="1" value="<%= resonance %>" type="range" />
          <span class="resonance-reading"><%= resonance %></span>
        </script>
        
        <script class="envelope-template" type="text/html">
          <h5>Attack</h5>
          <input class="attack" min="0" max="1" step="0.01" value="<%= attack %>" type="range" />
          <span class="attack-reading"><%= attack %></span>
          
          <h5>Decay</h5>
          <input class="decay" min="0" max="1" step="0.01" value="<%= decay %>" type="range" />
          <span class="decay-reading"><%= decay %></span>
          
          <h5>Sustain</h5>
          <input class="sustain" min="0" max="1" step="0.01" value="<%= sustain %>" type="range" />
          <span class="sustain-reading"><%= sustain %></span>
          
          <h5>Release</h5>
          <input class="release" min="0" max="1" step="0.01" value="<%= release %>" type="range" />
          <span class="release-reading"><%= release %></span>
        </script>

        <script class="filter-envelope-template" type="text/html">
          <h5>Attack</h5>
          <input class="attack" min="0" max="1" step="0.01" value="<%= attack %>" type="range" />
          <span class="attack-reading"><%= attack %></span>
          
          <h5>Decay</h5>
          <input class="decay" min="0" max="1" step="0.01" value="<%= decay %>" type="range" />
          <span class="decay-reading"><%= decay %></span>
          
          <h5>Sustain</h5>
          <input class="sustain" min="0" max="20000" step="1" value="<%= sustain %>" type="range" />
          <span class="sustain-reading"><%= sustain %></span>
          
          <h5>Release</h5>
          <input class="release" min="0" max="1" step="0.01" value="<%= release %>" type="range" />
          <span class="release-reading"><%= release %></span>
        </script>

        <script class="delay-template" type="text/html">
          <input class="time" min="0" max="1" step="0.01" value="<%= time %>" type="range" />
          <span class="time-reading"><%= time %></span>
        </script>

        <!-- libs -->
		<script src="/media/scripts/libs/audiolib.js"></script>
		<script src="/media/scripts/libs/jquery.js"></script>
		<script src="/media/scripts/libs/raphael.js"></script>
		<script src="/media/scripts/libs/qwertyhancock.js"></script>
		<script src="/media/scripts/libs/wavyjones.js"></script>
		<script src="/media/scripts/libs/underscore.js"></script>
		<script src="/media/scripts/libs/backbone.js"></script>
		<script src="/media/scripts/libs/wavyjones.js"></script>

        <!-- config -->
		<script src="/media/scripts/config.js"></script>

        <!-- routers -->
		<!--<script src="/media/scripts/mvc/routers/main.js"></script>-->
        
        <!-- models -->
		<script src="/media/scripts/mvc/models/synth.js"></script>
		<script src="/media/scripts/mvc/models/oscillator.js"></script>
		<script src="/media/scripts/mvc/models/oscillator_module.js"></script>
		<script src="/media/scripts/mvc/models/gain.js"></script>
		<script src="/media/scripts/mvc/models/keyboard.js"></script>
		<script src="/media/scripts/mvc/models/filter.js"></script>
		<script src="/media/scripts/mvc/models/filter_envelope.js"></script>
		<script src="/media/scripts/mvc/models/volume_envelope.js"></script>
		<script src="/media/scripts/mvc/models/delay.js"></script>
		<script src="/media/scripts/mvc/models/compressor.js"></script>

        <!-- collections -->
        <!--<script src="/media/scripts/config.js"></script>-->
        
        <!-- views -->
		<script src="/media/scripts/mvc/views/synth_view.js"></script>
		<script src="/media/scripts/mvc/views/oscillator_view.js"></script>
		<script src="/media/scripts/mvc/views/gain_view.js"></script>
		<script src="/media/scripts/mvc/views/keyboard_view.js"></script>
		<script src="/media/scripts/mvc/views/filter_view.js"></script>
		<script src="/media/scripts/mvc/views/oscillator_module_view.js"></script>
		<script src="/media/scripts/mvc/views/envelope_view.js"></script>
		<script src="/media/scripts/mvc/views/delay_view.js"></script>
		<script src="/media/scripts/mvc/views/lfo_view.js"></script>

        <!-- init -->
		<script src="/media/scripts/init.js"></script>
	</body>
</html>
