body {
  font-family: helvetica, sans-serif;
}

.cf { /* from: http://nicolasgallagher.com/micro-clearfix-hack/ */
    zoom: 1;
}
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }

a { 
  text-decoration: none; 
  background: #000;
  color: #fff;
  padding: 5px 10px;
  font-variant: small-caps; 
  text-transform: lowercase; 
  font-size: 15px;
  line-height: 14px;
}

h3 { font-variant: small-caps; text-transform: lowercase; font-size: 20px; line-height: 20px; }
h5 { margin: 0; text-transform: lowercase; font-variant: small-caps }

.popup {
  position: absolute;
  top: 300px;
  left: 770px;
  margin-left: -300px;
  border: 1px solid #000;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
}

.popup h5 {
  margin-bottom: 10px;
}

.patch-name {
  padding: 5px;
}

.dashboard-top { overflow: hidden; clear: both; padding: 15px 15px 0 15px; }
.dashboard { position: relative; overflow: hidden; padding: 0 15px 15px 15px; }
.bottom { padding: 0 15px 15px 15px; position: relative; }

.column { height: 100%; float: left; margin-right: 15px; }


.group {
  position: relative;
  border: 3px solid #000;
  border-radius: 15px;
  padding: 20px;
  margin-top: 25px;
}

.group h3:first-child {
  position: absolute;
  top: -34px;
  left: 15px;
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard-top .group { height: 80px; margin-top: 0; }
.dashboard .group { height: 265px }

.block {
  float: left;
  text-align: center;
}

.reading {
  font-size: 10px;
  display: none;
}

.tempo-reading {
  display: block;
  font-size: 13px;
}

#oscilloscope {
  width: 550px;
  height: 150px;
  background: #222;
  float: left;
  margin-left: 25px;
}

#keyboard {
  float: left;
}

.buffer {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #222;
}

.buffer:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #fff; /*change these values to suit your liking*/
    z-index: 100;
}

.buffer .upload {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 16px;
  width: 16px;
  background: url('images/share.png');
  padding: 0;
  z-index: 100;
}

.buffer .delete {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.buffer:hover .upload {
  display: block;
}
.buffer:hover .delete {
  display: block;
}

.metronome .beat-indicator {
  width: 15px;
  height: 15px;
}

.buffer .waveform { position: absolute; left: 50%; height: 50px; }
.buffer .waveform svg { position: absolute; left: 0; top: 0; }

.save-patch {
  display: block;
  margin-top: 18px;
}

.cv-patches-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.knob {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #000;
}

.knob .indicator {
  width: 1px;
  height: 20px;
  margin: 0 auto;
  border-top: 10px solid #fff;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* in order to proctect the keyboard from unwanted mouseup events */
.unselectable .bottom:after {
  content: "";
/*  background: yellow;*/
  position: absolute;
  height: 150px;
  width: 600px;
  
}

.frequency-block {
  margin-right: 10px;
}

.metronome .beat-indicator {
  float: right;
  margin-bottom: 20px;
}

.metronome .block {
  margin-right: 20px;
}

.metronome .block:last-child {
  margin-right: 0;
}


.metronome .on-off {
  clear: both;
}

.metronome .on-off .state {
  margin-right: 0;
}

.delay .block:first-child {
  margin-right: 20px;
}

.filter-envelope input, .volume-envelope input {
  margin-top: 15px;
  margin-bottom: 30px;
}

.knob-wrapper {
  height: 32px;
  width: 32px;
  padding: 20px;
  background: url('images/notches.png') -1px 1px no-repeat
}

.waveform-knob-wrapper {
  background: url('images/waveforms.png') no-repeat;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #555;
    height: 3px;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #fff;
    border: 5px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 11px;
    height: 26px;
}

select {
  -webkit-appearance: none;
  border: 1px solid black;
  background: #fff url('images/downarrow.png') right 6px top 5px no-repeat;
  padding: 5px 25px 5px 5px;
  font-variant: small-caps; 
  text-transform: lowercase; 
  font-size: 14px;
  line-height: 14px;
  margin-left: 0;
}

.loop-module {
  height: 100%;
  overflow: scroll;
}

.loop-module .microphone {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 5px;
  right: 5px;
  background: url('images/mic.png');
  opacity: .5;
  padding: 0;
}

.loop-module .record {
  background: red;
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.loop-module .microphone.active {
  opacity: 1;
}

.loop-module-group {
  width: 224px;
}

