body {
  font-family: helvetica, sans-serif;
}

h5 { margin: 5px 0; text-transform: lowercase; font-variant: small-caps }

.dashboard { position: relative; overflow: hidden; }

.column { height: 100%; float: left; margin-right: 30px; }

#oscilloscope {
  width: 400px;
  height: 200px;
  float: left;
}

#keyboard {
  float: left;
}

.buffer {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.buffer:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #444; /*change these values to suit your liking*/
}

.metronome .beat-indicator {
  width: 15px;
  height: 15px;
}

.buffer .waveform { position: absolute; left: 50%; height: 50px; }
.buffer .waveform svg { position: absolute; left: 0; top: 0; }

.cv-patches-list {
  list-style-type: none;
  padding: 0;
}

